<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzu.competition_master.mapper.AdminMapper">
    <update id="updateById" parameterType="Admin">
        UPDATE Admins
        <set>
            <if test="account != null">Account = #{account},</if>
            <if test="password != null">Password = #{password},</if>
            <if test="name != null">Name = #{name}</if>
        </set>
        WHERE ID = #{id}
    </update>

    <select id="findByAdmin" parameterType="Admin" resultType="Admin">
        SELECT *
        FROM Admins
        <where>
            <if test="id != 0">ID = #{id}</if>
            <if test="account != null">AND Account = #{account}</if>
            <if test="password != null">AND Password = #{password}</if>
            <if test="name != null">AND Name = #{name}</if>
        </where>
    </select>

</mapper>
